{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/homepage.css')}}">
{% endblock %}
{% block title %}Home Page
{% endblock %}
{% block body %}
{{include ('home/navbar.html.twig')}}
<div class="container">
	<div class="search-result">
		<div class="search">
			<div class="search-box">
				<input class="search-input" name="search" type="text" placeholder="Search.." id="search" autocomplete="off">
				<a class="search-btn">
					<i class="fas fa-search"></i>
				</a>
			</div>
		</div>
		<span id="result"></span>
	</div>
	<a href="#" id="scroll">
		<span></span>
	</a>
	<section class="create-post">
		<img class="post__avatar" src="{{userValue.getImage()}}" alt=""/>
		<form enctype="multipart/form-data" name="postform" id="create-post-form" class="create-post__form" action="makepost" method="POST">
			<span class="welcome">
				Hello
				{{userValue.getUsername()}}
			</span>
			<div class="create-post__text-wrap">
				<textarea aria-label="Share something ..." name="post-text" id="create-post-txt" oninput="this.parentNode.dataset.replicatedValue = this.value" placeholder="Write something here..."></textarea>
			</div>
			<div class="create-post__media-wrap" id="create-post-media-wrap"></div>
			<div class="create-post__buttons">
				<div class="create-post__assets-buttons">
					<button type="button" aria-label="Add an image to the post" class="create-post__asset-btn" for="create-post-media" onclick="this.querySelector('input').click()">
						<i class="fa-solid fa-image post-icon"></i>
						Photo
						<img id="imagePreview"/>
						<input type="file" name="post-img" id="create-post-media" accept=".png, .jpg, .jpeg, .gif"/>
					</button>
					<button type="button" aria-label="Add an image to the post" class="create-post__asset-btn" for="create-post-media" onclick="this.querySelector('input').click()">
						<i class="fa-solid fa-video post-icon"></i>
						Video
						<input type="file" name="video" id="create-post-media" accept=".mp4"/>
					</button>
					<button type="button" aria-label="Add an image to the post" class="create-post__asset-btn" for="create-post-media" onclick="this.querySelector('input').click()">
						<i class="fa-solid fa-music post-icon"></i>
						Audio
						<input type="file" name="audio" id="create-post-media" accept=".mp3"/>
					</button>
					<button type="button" aria-label="Add an image to the post" class="create-post__asset-btn" for="create-post-media" onclick="this.querySelector('input').click()">
						<i class="fa-solid fa-user-tag post-icon"></i>
						TagUsers
						<input type="file" id="create-post-media" accept=".png, .jpg, .jpeg, .gif"/>
					</button>
				</div>
				<input class="create-post__submit" type="submit" id="create-post-submit-btn" name="submit"/>
			</div>
		</form>
	</section>
	<div
		class="posts">
		{% for user in postData %}
		<section id="posts-container">
			<article class="post">
				<img class="post__avatar" src="<?php echo $array[$i]['Image']; ?>" alt=""/>
				<div class="post__content" id="post_div">
					<header class="post__header">
						<a class="post__user" href="self/<?php echo base64_encode($array[$i]['Email']); ?>">
							{{user.getUsername()}}
						</a>
						<div class="post__meta">
							<button class="post__header-btn"></button>
							<button class="post__header-btn"></button>
						</div>
					</header>
					<div class="post__body">
						<p class="caption">{{user.getContent()}}</p>
						{# <img class="post__img" id="post_image" src="<?php echo $array[$i]['Image_Content']; ?>" alt=""> #}

						{# <video class="post__img" controls src="<?php echo $array[$i]['Video']; ?>"></video> #}

						{# <audio class="post__img" controls type="audio/mpeg" src="<?php echo $array[$i]['Audio']; ?>"></audio> #}
						<marquee direction="right">
							{# <?php
                  $size = strlen($array[$i]['Audio']);
                  echo substr($array[$i]['Audio'], 20, $size); #}
									</marquee>
								</div>
								<div class="post__footer">
									<i class="fa-regular fa-heart iconss like"></i>
									<a href="https://www.facebook.com/sharer.php?s=100&p[images][0]=<?php echo $array[$i]['Image_Content']; ?>&p[title]=<?php echo $array[$i]['Content']; ?>">
										<i class="fa-brands fa-facebook iconss"></i>
									</a>
									<a target="_blank" href="http://twitter.com/share?text=<?php echo $array[$i]['Content']; ?> &images = <?php echo $array[$i]['Image_Content']; ?>">
										<i class="fa-brands fa-twitter iconss"></i>
									</a>
									<span id="count"></span>
									<span class="time">

									</span>
								</div>
							</div>

						</article>
					</section>
        {% endfor %}

				<button name="loadmore" id="loadbtn">Load More</button>
			</div>
		</div>
		<script src="{{asset('js/homepage.js')}}"></script>
{% endblock %}
